<div class="min-h-[100vh] pt-[200px]">
    <form 
        action="/settings" 
        method="post">
        <div class="max-w-xl m-auto shadow-lg">
            <label 
                for="hs-trailing-button-add-on" 
                class="sr-only">
                Label
            </label>
            <div class="flex rounded-md shadow-sm">
                <input 
                    name="api_key" 
                    type="password" 
                    value="{{ openai_api_key }}"
                    class="block w-full p-2 text-sm border-gray-200 shadow-sm rounded-l-md focus:z-10 focus:border-indigo-500 focus:ring-indigo-500">
                <button 
                    type="submit"
                    class="inline-flex items-center justify-center flex-shrink-0 gap-2 px-4 py-3 text-sm font-semibold text-white transition-all bg-indigo-500 border border-transparent rounded-r-md hover:bg-indigo-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                    Update API key
                </button>
            </div>
        </div>
    </form>
</div>